#root {
  color: var(--DarkSlateGray);
  max-width: 1280px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Roboto-Bold;
  font-size: 3.4em;
  line-height: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  line-height: 2rem;
  display: flex;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  label {
    font-family: Roboto-Bold;
    font-size: 0.75em;
    font-weight: 700;
  }

  input {
    background-color: var(--White);
    padding: 0.75rem;
    border-radius: 0.3rem;
    border: 1px solid var(--Grey);
    outline: none;
    margin-bottom: 1rem;
    color: #000000;
  }

  input.invalid {
    color: rgb(184, 52, 52);
    background-color: rgb(251, 233, 231);
    border: 1px solid rgb(249, 95, 90);
  }

  .label_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .valid_email {
    display: none;
  }

  .invalid_email {
    display: block;
    font-family: Roboto-Bold;
    font-size: 0.75em;
    font-weight: 700;
    color: rgb(249, 95, 90);
  }
}

button {
  background-color: var(--DarkSlateGray);
  font-family: Roboto-Bold;
  padding: 1rem 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: rgb(255, 82, 123);
    background: linear-gradient(
      90deg,
      rgba(255, 82, 123, 1) 40%,
      rgba(255, 106, 58, 1) 60%
    );
    box-shadow: 0 0 20px rgba(225, 82, 123, 1); /* Add box shadow */
  }
}

.container {
  width: 880px;
  height: 560px;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: end;
  border-radius: 1.5rem;
  background-color: var(--White);
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}

.content_container {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.img_container {
  margin-right: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.img_mobile {
  display: none;
}

.img_desktop {
  height: 520px;
  object-fit: cover;
}

.hidden {
  display: none;
}

.confirm_container {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 1.5rem;
  background-color: var(--White);
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);  
}

.confirm {
  padding-inline: 3rem;

  img {
    width: 3.5rem;
  }

  h1 {
    margin: 1rem 0;
    font-size: 3rem;
    line-height: 3rem;
  }

  p {
    font-size: .8rem;
  }

  button {
    margin-top: 1rem;
    width: 100%;
  }
}

.bold {
  font-family: Roboto-Bold;
  font-size: .8rem;
  font-weight: 700;
}

/* set up mobile screen */
@media only screen and (max-width: 375px) {
  .container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;

    flex-direction: row;
  }

  .img_mobile {
    display: block;
  }
}
